body {
    background-color: #131313;
    color: white;
}

h1 {
    font-family: 'Bebas Neue';
}

h2 {
    font-family: 'Nunito';
}

h3 {
    font-family: 'Nunito';
    color: #fefefe;
}

p {
    font-family: 'Poppins';
}

/* Navigation Bar Styling */

nav {
    background-color: #1e1e1e;
    display: flex;
    margin-bottom: 0.5%;
    position: fixed;
    width: 100%;
}


nav ul {
    list-style: none;
    display: inline-flex;
}

nav li {
    padding-bottom: 2%;
    display: inline-flex;
}

nav a {
    color: white;
    text-decoration: none;

}

nav a:hover {
   color: #8a7f6e; /* Come back to this and get the text to also change on the hover of the button (not just the text) */

}

/* Home Page Header Area */

.homepageintro {
    background-image: url('background1.png');
    height: 100vh;
    margin-bottom: 2%;
    display: flex;
}

.homeintroleft {
    height: 100vw;
    width: 70vw;
    text-align: left;
    padding-top: 20vh;
    padding-left: 12vw;
    font-family: 'Bebas Neue';
    font-size: 500%;
    line-height: 0.3;
    color: #fefefe;
}

.homeintroright {
    height: 100vw;
    width: 30vw;
    padding-top: 70vh;
    padding-right: 15vw;
}

.homeintroright a {
    padding: 1vw;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 3vw;
    background-color: #b8402f;
    border-radius: 25px;
    color: #fefefe;
    font-size: 100%;
    font-family: 'Poppins';
    font-weight: 500;
    text-decoration: none;
}

.homeintroright a:hover {
    background-color: #8a7f6e;
    color: #1e1e1e;
}

/* Right Major Flexbox */

.rightmajor {
    display: flex;
    background-image: url('background3.png');
}

.rightmajor-left {
    width: 50vw;
    padding: 2%;
    padding-right: 1%;
    padding-left: 7%;
}

.rightmajor-left img {
    height: 100vh;
}


.rightmajor-right {
    width: 50vw;
    padding-right: 5%;
    padding-top: 4%;
}

/* Getting started page */

#gettingstarted {
    background-image: url('background4.png');
    height: 50vw;
    width: 100%;
    text-align: center;
    padding-top: 30vh;
}

#gettingstarted input {
    width: 35vw;
    padding: 1%;
}

#selfbrowsebutton {
    padding: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #8a7f6e;
    color: white;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 0.8em;
    border-radius: 5%;
}

#selfbrowsebutton:hover {
    background-color: #1e1e1e;
    color: white;
}

#shoppingdescription-input {
    text-align: center;
    margin-left: 3vw;
    margin-bottom: 4vh;
}

#shoppingdescription-input a {
    background-color: #b8402f;
    color: white;
    padding: 1%;
    padding-left: 1.2%;
    padding-right: 1.2%;
    border-radius: 50%;
    margin-left: 0.5vw;
}

#shoppingdescription-input a:hover {
    background-color: #1e1e1e;
    color: white;
}

/* Shopping Page */

#shoppingpage-header {
    margin-top: 4%;
    background-color: #131313;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

#shoppingrow1 {
    padding-top: 15%;
}

.shoppingrow {
    padding-top: 5%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    
}

.shoppingitem {
    display: flexbox;
    width: 22vw;
    padding: 0.5%;
}

.itemimage {
    width: 22vw;
    height: 50vh;
}

.shoppingitem img {
    width: 80%;
}

/* Footer */

footer {
    background-color: #1e1e1e;
    display: flex;
    margin-top: 1%;
    justify-content: space-evenly;
    padding-left: 8vw;

}

footer div {
    width: 25%;
    padding: 2%;
    
}



/* Fonts */ 

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nunito-regular {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

